<footer>
  <h2>provaaa</h2>
</footer>


{% schema %}
  {
    "name": "Footer IAWA",
    "settings": [
	{
		"type":"checkbox",
		"id": "show_footer-iawa",
		"label": "Show footer-aiwa",
		"default": true
	}	
]
  }
{% endschema %}


