{%if section.settings.show_text%}
<h2>ciao cazzoni</h2>
{% endif%}

{% schema %}
  {
    "name": "Prova text",
    "settings": [
{
		"id": "show_text",
        "type":"checkbox",
        "label":"Show Text",
        "default":true
}
]
  }
{% endschema %}


